@import "tailwindcss";

body {
  @apply bg-gray-50;
}

main {
  @apply h-screen container mx-auto py-6 flex flex-col gap-4;
}

section {
  @apply flex flex-col gap-3 border-1 rounded-md p-6 border-gray-200 shadow-xs w-full h-full min-h-0 bg-white;
}

button {
  @apply bg-gray-200 text-gray-800 px-4 py-2 rounded-md;
}

button[type="submit"] {
  @apply bg-blue-500 text-white px-4 py-2 rounded-md;
}

select {
  @apply bg-white  text-gray-800 px-4 py-2 rounded-md p-2.5 pr-4.5 border-1 border-gray-300;
}

select:disabled {
  @apply bg-gray-100 text-gray-400;
}

h1 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-lg font-bold;
}

h6 {
  @apply text-sm font-bold;
}

p {
  @apply text-sm;
}

dl {
  @apply grid grid-cols-2 gap-4;
}
